Django==1.6
django-allauth==0.15.0
django-annoying==0.7.9
django-bootstrap3==2.5.6
django-tastypie==0.9.16
schematics==0.9-4
django-waffle==0.9.2
South==0.8.4
Sphinx==1.2.1
simplejson==3.3.2
psycopg2==2.5
mock==1.0.1
git+git://github.com/alekzvik/factory_boy.git
git+git://github.com/stefanfoulis/django-phonenumber-field.git
