*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

.DS_Store

.classpath
.project
lint.xml
project.properties

local.properties
ant.properties
build.xml
proguard-project.txt

# android
gen
bin
test/bin
test/gen

#robolectric
tmp

# idea
.idea
out
*.iml

#gradle
build
.gradle

# android apk-signing files
*keystore

# ************* #
# Project files #
# ************* #

# Local settings
p2psafety_django/p2psafety/settings/local.py
Makefile.def

# Media, uploaded files
p2psafety_django/p2psafety/static_media/