#map-canvas {
  height: 500px;
}
.selected-event {
  top: 0;
  height: 500px;
  width: 300px;
  overflow-y: auto;
  float: left;
}
.event-name{
    cursor: pointer;
    display: inline;
}
.event-heading{
    margin-bottom: 0;
}
.button-add{
    margin-top: 10px;
}

.dispatcher-panel-buttons {
  margin-left: 65px;
}
