#map-canvas {
  height: 500px;
}
.selected-event {
  top: 0;
  height: 500px;
  width: 300px;
  overflow-y: auto;
  float: left;
}
.event-name{
    cursor: pointer;
    display: inline;
}
.event-panel{
    padding:0;
}
.event-heading{
    margin-bottom: 0;
}
