{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block head_title %}{% trans "P2P Safety" %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
  <meta property="og:title" content="Колективна безпека."/>
  <meta property="og:site_name" content="p2psafety.net"/>
  <meta property="og:description" content="Розподілена система швидкого реагування на екстренні події." />
  {% block styles %}
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/common.css' %}">
  {% endblock %}
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
  {% block scripts %}
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  {% endblock %}
</body>
</html>
