<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ua.p2psafety"
          android:versionCode="8"
          android:versionName="2.4">

    <uses-sdk
            android:minSdkVersion="8"
            android:targetSdkVersion="18"/>

    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <uses-feature android:name="android.hardware.telephony"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

        <service android:name=".DelayedSosService" />
        <service android:name=".AudioRecordService" />
        <service android:name=".VideoRecordService" />
        <service android:name=".PowerButtonService" />

        <activity
                android:name=".SosActivity"
                android:screenOrientation="portrait"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver android:name=".widget.Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="ua.p2psafety.DelayedSosService.TimerTick"/>
                <action android:name="ua.p2psafety.DelayedSosService.TimerFinish"/>
                <action android:name="ua.p2psafety.DelayedSosService.TimerCancel"/>
                <action android:name="ua.p2psafety.DelayedSosService.TimerChange"/>
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/wprovider"/>
        </receiver>

    </application>


</manifest>
