{% extends "base.html" %}

{% load staticfiles %}
{% load waffle_tags %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}">
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&sensor=false&language=uk"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-animate.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
  <script src="{% static 'js/angular_lodash.js' %}"></script>
  <script src="{% static 'js/map.js' %}"></script>
  <script>
    mapApp.constant('urls', {
      events: "{% url 'api_dispatch_list' resource_name='events' api_name='v1' %}",
      eventupdates: "{% url 'api_dispatch_list' resource_name='eventupdates' api_name='v1' %}",
      roles: "{% url 'api_dispatch_list' resource_name='roles' api_name='v1' %}",
      movement_types: "{% url 'api_dispatch_list' resource_name='movement_types' api_name='v1' %}",
      user_roles:"{% url 'api_users_roles' resource_name='users' api_name='v1' %}",
    });
    mapApp.constant('mapSettings', {
        highlight: {% switch 'eventsmap-newevent-highlight' %}true{% else %}false{% endswitch %},
        sound: {% switch 'eventsmap-newevent-sound' %}true{% else %}false{% endswitch %},
    });
  </script>
{% endblock %}

{% block content %}
<audio id="audiotag" src="{% static 'audio/beep.mp3' %}" preload="auto"></audio>

  <div class="page-header">
    {% include "account/login_button_block.html" %}
    <h3>Events map</h3>
  </div>
  <div class="row">
    <div class="col-md-12">
      {% verbatim %}
      <div ng-app="mapApp">       
        <div ng-controller="EventListCtrl">
          <event-marker click="select(event)"
                        ng-repeat="event in events"
                        ng-if="event.id != selectedEvent.id">
            <div>
              <p ng-if="event.user.full_name != null">
                <span class="glyphicon glyphicon-exclamation-sign"
                      ng-if="event.type == 'victim'"></span>
                <span class="glyphicon glyphicon-user"
                      ng-if="event.type == 'support'"></span>
                      {{ event.user.full_name }}
              </p>
              <span class="badge">{{ event.latest_update.timestamp | date:'HH:mm' }}</span>
              {{ event.latest_update.text || "..." }}
            </div>
          </event-marker>
          <div class="selected-event panel panel-primary"
               ng-if="selectedEvent != null">
            <h4 class="panel-heading">Status:
              <span class="label label-danger"
                    ng-if="selectedEvent.status == 'A'">active</span>
              <span class="label label-primary"
                    ng-if="selectedEvent.status == 'P'">passive</span>
              <span class="label label-default"
                    ng-if="selectedEvent.status == 'F'">finished</span>
              <button type="button" class="close"
                      ng-click="select(null)">&times;</button>
            </h4>
            <div class="panel-body">
              <div class="list-group">
                <div class="list-group-item"
                     ng-repeat="update in selectedEvent.updates">
                  <eventupdate-marker click="focus(update.location)">
                    <p>{{ update.timestamp | date:'dd.MM HH:mm' }}</p>
                  </eventupdate-marker>
                  <p class="list-group-item-heading">
                    <span class="badge">{{ update.timestamp | date:'dd.MM HH:mm' }}</span>
                    {{ update.text || "..." }}
                  </p>
                  <a href="{{ update.audio }}" class="btn btn-default"
                     ng-if="update.audio != null">
                    <span class="glyphicon glyphicon-headphones"></span> Play</a>
                  <a href="{{ update.video }}" class="btn btn-default"
                     ng-if="update.video != null">
                    <span class="glyphicon glyphicon-film"></span> Play</a>
                  <a class="btn btn-success"
                     ng-if="update.location != null"
                     ng-click="focus(update.location)">
                    <span class="glyphicon glyphicon-map-marker"></span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="selected-event panel panel-primary " 
                ng-if="selectedEvent == null">
            <h4 class="panel-heading event-heading">Dispatcher panel</h4>

            <div class="panel-body">
              <button class="btn-filter-panel btn btn-xs"
                ng-class="{false:'btn-default',true:'btn-success'}[filterPanel]"
                ng-click="filterPanel= !filterPanel"> Filters <span class="caret"> 
              </button>
                <div ng-show="filterPanel" class="filter-panel list-group">
                  <div ng-if="roles" class="list-group-item">
                  <h6> Roles: </h6>
                  <label  ng-repeat="role in roles"  class="checkbox-inline">
                    <input 
                      ng-click="toggleFilter({type:'role', id:role.id})"   
                      ng-checked="visibleRoles.role.indexOf(role)"
                      type="checkbox" 
                      value="{{role.id}}"/>{{role.name}}</input>
                  </label>
                </div>
              </div>
                <hr>

                <div class="list-group">
                    <div class="list-group-item"
                         ng-class="{'list-group-item-warning': event.isNew}"
                         ng-click="event.isNew = false"
                         ng-repeat="event in events"
                         ng-if="event.isVisible">
                         <a class="btn type-{{event.type}}" ng-click="focus(event.latest_location)">
                           <span class="glyphicon glyphicon-map-marker"></span>
                         </a>
                         <div class="event-name"
                           ng-click="select(event)"
                           ng-bind="event.user.full_name"></div>

                         <ul class='event-roles small'>
                           <span ng-if="event.user.roles">roles: </span>
                         <li class="event-role"
                           ng-repeat="role in event.user.roles">
                           {{roles[role].name}}
                         </li>
                       </ul>
                      </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
         <div id="map-canvas"></div>
      </div>
      {% endverbatim %}
    </div>
  </div>
{% endblock %}
