{% extends "base.html" %}

{% load staticfiles %}
{% load config_tags %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}">
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&sensor=false&language=uk"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-animate.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
  <script src="{% static 'js/angular_lodash.js' %}"></script>
  <script src="{% static 'js/map.js' %}"></script>
  <script>
    mapApp.constant('urls', {
      events: "{% url 'api_dispatch_list' resource_name='events' api_name='v1' %}",
      eventupdates: "{% url 'api_dispatch_list' resource_name='eventupdates' api_name='v1' %}",
      roles: "{% url 'api_dispatch_list' resource_name='roles' api_name='v1' %}",
      movement_types: "{% url 'api_dispatch_list' resource_name='movement_types' api_name='v1' %}",
      user_roles:"{% url 'api_users_roles' resource_name='users' api_name='v1' %}",
      user_movement_types:"{% url 'api_users_movement_types' resource_name='users' api_name='v1' %}",
      addEventUpdate: "{% url 'events:map_add_eventupdate' %}",
      closeEvent: "{% url 'events:map_close_event' %}",
      notifySupporters: "{% url 'events:map_notify_supporters' %}",
      createTestEvent: "{% url 'events:map_create_test_event' %}",
    });
    mapApp.constant('mapSettings', {
        highlight: {% if newevent_highlight %}true{% else %}false{% endif %},
        sound: {% if newevent_sound %}true{% else %}false{% endif %},
        wakeup_interval: {{ wakeup_interval }},
    });
  </script>
{% endblock %}

{% block content %}
<audio id="audiotag" src="{% static 'audio/beep.mp3' %}" preload="auto"></audio>

  <div class="page-header">
    {% include "account/login_button_block.html" %}
    <h3>Events map</h3>
  </div>
  <div class="row">
    <div class="col-md-12">
      {% verbatim %}
      <div ng-app="mapApp">
        <div ng-controller="EventListCtrl">
          <event-marker click="select(event)"
                        ng-repeat="event in events|filter:userFilters"
                        ng-if="(event.id != selectedEvent.id) && (selectedEvent == null)">
            <div>
              <p ng-if="event.user.full_name != null">
                <span class="glyphicon glyphicon-exclamation-sign"
                      ng-if="event.type == 'victim'"></span>
                <span class="glyphicon glyphicon-user"
                      ng-if="event.type == 'support'"></span>
                {{ event.user.full_name }}
              </p>
              <span class="badge">{{ event.latest_update.timestamp | date:'HH:mm' }}</span>
              {{ event.latest_update.text || "..." }}
            </div>
          </event-marker>
          <support-marker ng-repeat="support in selectedEventsupport" click="select(support)">
            <div>
              <p ng-if="support.user.full_name != null">
                <span class="glyphicon glyphicon-user"></span>
                {{ support.user.full_name }}
              </p>
              <span class="badge">{{ support.latest_update.timestamp | date:'HH:mm' }}</span>
              {{ support.latest_update.text || "..." }}
            </div>
          </support-marker>
          <div class="selected-event panel panel-primary"
               ng-if="selectedEvent != null">
            <h4 class="panel-heading">
              <span>Event info</span>
              <div class="btn-group dispatcher-panel-buttons">
                <button class="btn btn-success btn-sm"
                        ng-click="select(null)">Back</button>
                <button class="btn btn-warning btn-sm"
                        ng-click="closeEvent(selectedEvent)">Close</button>
              </div>
            </h4>
            <div class="panel-body">
              <div class="list-group">
                <div class="list-group-item">
                  <p>Add event update</p>
                  <input class="form-control input-sm" type="text" placeholder="Text" 
                         ng-model="fields.addEventUpdateText"
                         ng-keydown="ctrlEnter($event)"/>
                  <button class="btn btn-primary btn-sm button-add"
                          ng-click="addEventUpdate()">Click or hit Ctrl+Enter</button>
                </div>
                <div class="list-group-item">
                  <div class="form-inline notify-supporters">
                    <div class="form-group">
                      <input class="form-control input-sm" type="text" placeholder="Radius, km"
                             ng-model="fields.notifySupportersRadius"/>
                    </div>
                    <div class="form-group">
                      <button class="btn btn-success btn-sm"
                              ng-disabled="{{ isNotifyingSupporters }}"
                              ng-click="notifySupporters()">Notify supporters</button>
                    </div>
                  </div>
                </div>
                <div class="list-group-item"
                     ng-repeat="update in selectedEvent.updates">
                  <eventupdate-marker click="focus(update.location)">
                    <span>{{ update.timestamp | date:'dd.MM HH:mm' }}</span>
                  </eventupdate-marker>
                  <p class="list-group-item-heading">
                    <span class="badge">{{ update.timestamp | date:'dd.MM HH:mm' }}</span>
                    {{ update.text || "..." }}
                  </p>
                  <a href="{{ update.audio }}" class="btn btn-default"
                     ng-if="update.audio != null">
                    <span class="glyphicon glyphicon-headphones"></span> Play</a>
                  <a href="{{ update.video }}" class="btn btn-default"
                     ng-if="update.video != null">
                    <span class="glyphicon glyphicon-film"></span> Play</a>
                  <a class="btn btn-success"
                     ng-if="update.location != null"
                     ng-click="focus(update.location)">
                    <span class="glyphicon glyphicon-map-marker"></span></a>
                </div>
                <br>
                <div ng-repeat="support in selectedEventsupport"
                        ng-if="selectedEvent.type == 'victim'">
                  <p>{{ support.user.full_name }} - support</p>
                  <div class="list-group-item">
                    <p class="list-group-item-heading">
                      <span class="badge">{{ support.latest_update.timestamp | date:'dd.MM HH:mm' }}</span>
                      {{ support.latest_update.text || "..." }}
                    </p>
                    <a href="{{ support.latest_update.audio }}" class="btn btn-default"
                       ng-if="support.latest_update.audio != null">
                      <span class="glyphicon glyphicon-headphones"></span> Play</a>
                    <a href="{{ support.latest_update.video }}" class="btn btn-default"
                       ng-if="support.latest_update.video != null">
                      <span class="glyphicon glyphicon-film"></span> Play</a>
                    <a class="btn btn-success"
                       ng-if="support.latest_location != null"
                       ng-click="focus(support.latest_location)">
                      <span class="glyphicon glyphicon-map-marker"></span></a>
                  </div>
                </div>
                <div ng-repeat="supported in selectedEventsupported"
                     ng-if="selectedEvent.type == 'support'">
                <supported-marker click="select(supported)">
                    <div>
                      <p ng-if="supported.user.full_name != null">
                        <span class="glyphicon glyphicon-user"></span>
                        {{ supported.user.full_name }}
                      </p>
                      <span class="badge">{{ supported.latest_update.timestamp | date:'HH:mm' }}</span>
                      {{ supported.latest_update.text || "..." }}
                    </div>
                </supported-marker>
                <p>{{ supported.user.full_name }} - victim</p>
                <div class="list-group-item">
                  <p class="list-group-item-heading">
                    <span class="badge">{{ supported.latest_update.timestamp | date:'dd.MM HH:mm' }}</span>
                    {{ supported.latest_update.text || "..." }}
                  </p>
                  <a href="{{ supported.latest_update.audio }}" class="btn btn-default"
                     ng-if="supported.latest_update.audio != null">
                    <span class="glyphicon glyphicon-headphones"></span> Play</a>
                  <a href="{{ supported.latest_update.video }}" class="btn btn-default"
                     ng-if="supported.latest_update.video != null">
                    <span class="glyphicon glyphicon-film"></span> Play</a>
                  <a class="btn btn-success"
                     ng-if="supported.latest_location != null"
                     ng-click="focus(supported.latest_location)">
                    <span class="glyphicon glyphicon-map-marker"></span></a>
                </div>
                </div>
            </div>
          </div>
          </div>
          <div class="selected-event panel panel-primary " 
                ng-if="selectedEvent == null">
            <h4 class="panel-heading event-heading">Dispatcher panel</h4>
            <div class="panel-body">
              <div class="legend">
                <span><img src='http://maps.google.com/mapfiles/ms/micons/red-dot.png'> - victim</span>
                <span><img src='http://maps.google.com/mapfiles/ms/micons/green-dot.png'> - support</span>
              </div>
              <button class="btn-filter-panel btn-block btn btn-xs"
                ng-class="{false:'btn-default',true:'btn-success'}[showFilterPanel]"
                ng-click="showFilterPanel= !showFilterPanel"> Filters <span class="caret"> 
              </button>
                <div ng-show="showFilterPanel" class="filter-panel list-group">
                  <div ng-if="filters.roles" class="list-group-item">
                    <div class="filter-control"> <h6>Roles:</h6>
                    <div class="filterbtns text-right btn-group btn-group-xs">
                      <button
                        ng-click="setFiltersTo(filters.roles, true)"
                        type="button" class="btn btn-default btn-xs">All</button>
                      <button
                        ng-click="setFiltersTo(filters.roles, false)"
                        type="button" class="btn btn-default btn-xs">None</button>
                    </div>
                    </div>
                    <label  ng-repeat="role in filters.roles"  class="filter-checkbox">
                    <input 
                      ng-model="role.enabled"
                      type="checkbox" 
                      value="{{role.id}}"/>{{role.name}}</input>
                    </label>
                  </div>
                  <div ng-if="filters.movement_types" class="list-group-item">
                    <div class="filter-control"> <h6>Movement:</h6>
                    <div class="filterbtns text-right btn-group btn-group-xs">
                      <button
                        ng-click="setFiltersTo(filters.movement_types, true)"
                        type="button" class="btn btn-default btn-xs">All</button>
                      <button
                        ng-click="setFiltersTo(filters.movement_types, false)"
                        type="button" class="btn btn-default btn-xs">None</button>
                    </div>
                    </div>
                    <label  ng-repeat="mt in filters.movement_types"  class="filter-checkbox">
                    <input
                      ng-model="mt.enabled"
                      type="checkbox"
                      value="{{mt.id}}"/>{{mt.name}}</input>
                    </label>
                  </div>
              </div>
                <hr>
                <div class="list-group">
                    <div class="list-group-item"
                         ng-class="{'list-group-item-warning': event.isNew}"
                         ng-click="event.isNew = false"
                         ng-repeat="event in events|filter:userFilters"
                    >
                         <a class="btn type-{{event.type}}" ng-click="focus(event.latest_location)">
                           <span class="glyphicon glyphicon-map-marker"></span>
                         </a>
                         <div class="event-name"
                           ng-click="select(event)"
                           ng-bind="event.user.full_name"></div>

                         <ul class='event-roles small'>
                           <span ng-if="event.user.roles">roles: </span>
                           <li class="event-role"
                             ng-repeat="role in event.user.roles">
                             {{filters.roles[role].name}}
                           </li>
                         </ul>
                         <ul class='event-movement_types small'>
                           <span ng-if="event.user.movement_types">on: </span>
                           <li class="event-movement_type"
                             ng-repeat="mt in event.user.movement_types">
                             {{filters.movement_types[mt].name}}
                           </li>
                         </ul>
                      </div>
                    </div>
               <button class="btn btn-success btn-block"
                       ng-click="createTestEvent()">Create test event</button>
              </div>
            </div>
          </div>
         <div id="map-canvas"></div>
      </div>
      {% endverbatim %}
    </div>
  </div>
{% endblock %}
