{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block styles %}
  {{ block.super }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 page-header">
            <h1>{% trans "P2P Safety" %}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>{% trans "What is it?" %}</h2>
        </div>
    </div>
    <div class="row well">
        <div class="col-md-12">
            <p>
                {% trans "P2P Safety is decentralized system to quickly react on emergencies. Think 911, but protection is provided by other users, not third-parties" %}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>{% trans "How does it work?" %}</h2>
        </div>
    </div>
    <div class="row well">
        <div class="col-md-6">
            <h3>{% trans "I need protection" %}</h3>
            <ol>
                <li>{% trans "Download the app" %}</li>
                <li>{% trans "Register, fill in all the required data" %}</li>
                <li>{% trans "In case of emergency hold the SOS button or activate it by 3 clicks on hardware block button - wait for vibro response - another 3 clicks" %}</li>
            </ol>
        </div>
        <div class="col-md-6">
            <h3>{% trans "I want to protect" %}</h3>
            <ol>
                <li>{% trans "Keep in touch, we are working on this part" %}</li>
                <li>{% trans "Join the discussion group on facebook" %}</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>{% trans "How can I help?" %}</h2>
        </div>
    </div>
    <div class="row well">
        <div class="col-md-3">
            <h4>{% trans "Download the app" %}</h4>
            <a href="https://play.google.com/store/apps/details?id=ua.p2psafety" class="btn btn-default btn-lg" target="_blank">
                <img alt="Колективна безпека на Google Play"
                   src="{% static "img/google_play.png" %}" />
                {% trans "P2P Safety" %}
            </a>
            {% comment %}
                {# Anternative button #}
                <a href="https://play.google.com/store/apps/details?id=ua.p2psafety" target="_blank">
                  <img alt="Колективна безпека на Google Play"
                       src="https://developer.android.com/images/brand/uk_generic_rgb_wo_60.png" />
                </a>
            {% endcomment %}
        </div>
        <div class="col-md-3">
            <h4>{% trans "Join the discussion" %}</h4>
            <a href="https://www.facebook.com/groups/p2psafety/" class="btn btn-default btn-lg" target="_blank">
                <img alt="Колективна безпека на фейсбуці"
                   src="{% static "img/facebook.png" %}" />
                {% trans "P2P Safety" %}
            </a>
       </div>
        <div class="col-md-3">
            <h4>{% trans "Track our progress" %}</h4>
            <a href="https://github.com/42cc/p2psafety/" class="btn btn-default btn-lg" target="_blank">
              <img alt="Колективна безпека на гітхабі"
                   src="{% static "img/github.png" %}" />
               42cc/p2psafety/
            </a>
        </div>
        <div class="col-md-3">
            <h4>{% trans "Donate BTC" %}</h4>
            16WYhBSXR7ypujASMiwX2TjhNtibP8on1R
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>{% trans "Why?" %}</h2>
        </div>
    </div>
    <div class="row well">
        <div class="col-md-12">
            <p>
                {% trans "We believe in decentralised systems, where everyone can take responsibility." %}
            </p>
            <p>
                {% trans "We think that the best way to provide safety is to teach people how to protect themselves." %}
            </p>
            <p>
                {% trans "We are certain that in 21st century we should use the full potential of technologies, especially in such fields as protection." %}
            </p>
        </div>
    </div>

    {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE != 'uk' %}
        <div class="row">
            <div class="col-md-12">
                <h2>{% trans "What else should I know?" %}</h2>
            </div>
        </div>
        <div class="row well">
            <div class="col-md-12">
                <p>
                    {% trans "The main language of our facebook group is Ukrainian. Don't be scared, you can ask your question in English and we will provide answers for you" %}
                </p>
            </div>
        </div>
    {% endif %}
{% endblock %}
