{% load i18n %}

<div class="language pull-right">
    <div class="btn-group">
        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"><img src="blank.gif" class="flag flag-{{ request.LANGUAGE_CODE }}" alt="{{ request.LANGUAGE_CODE }}" /> {{ request.LANGUAGE_CODE }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <li>
                    <a><img src="blank.gif" class="flag flag-{{ language.code }}" alt="{{ language.code }}" /> {{ language.code }} </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
